<nav>
    <ul>
        <li routerLinkActive="active"><a routerLink="accueil">Accueil</a></li>
        <li routerLinkActive="active"><a routerLink="posts">Posts</a></li>
        <li routerLinkActive="active"><a routerLink="addpost">Ajouter un post</a></li>
        <li routerLinkActive="active"><a routerLink="flex">Flex</a></li>
        <li routerLinkActive="active"><a routerLink="list">Liste</a></li>
    </ul>
</nav>