ul {
    padding: 0;
    margin: 0;
    display: flex;
}
li {
    list-style: none;
    width: 20%;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}
li:hover a {
    color: white;
}
li:hover {
    background-color: dimgray; 
}

a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: dimgrey;
}

.active {
    a{
        color: white;
    }
    background-color: dimgray;
}