.carre1 {
    background-color: #04FBAE;
    width: 100%;
    height: 100px;
}
.carre2 {
    background-color: #00E7EC;
    width: 100%;
    height: 100px;
}
.carre3 {
    background-color: #FF345D;
    width: 100%;
    height: 50px;
}
.carre5 {
    background-color: #45C070;
    width: 100%;
    height: 50px;
}
.carre4 {
    background-color: #F59599;
    width: 100%;
    height: 50px;
}
