<div class="test">
    <div fxLayout="row wrap" fxLayout.xs="column" class="row">
        <div fxLayout="column" fxFlex fxLayoutAlign="space-between" >
            <div class="carre3"></div>
            <div class="carre5"></div>
            <div class="carre4"></div>
        </div>
        <div fxLayout="column" fxFlex >
            <div class="carre1"></div>
            <div class="carre2"></div>
        </div>
        <div fxLayout="column" fxFlex fxLayoutAlign="space-around">
            <div class="carre5"></div>
            <div class="carre3"></div>
        </div>
    </div>
    <div fxLayout="row wrap"  fxLayout.xs="column" class="row">
        <div fxLayout="column" fxFlex >
            <div class="carre1"></div>
            <div class="carre2"></div>
        </div>
        <div fxLayout="column" fxFlex fxLayoutAlign="space-evenly">
            <div class="carre3"></div>
            <div class="carre5"></div>
            <div class="carre4"></div>
        </div>
        
        <div fxLayout="column" fxFlex >
            <div class="carre2"></div>
            <div class="carre1"></div>
        </div>
    </div>
    <div fxLayout="row wrap" fxLayout.xs="column" class="row">
        <div class="carre3"></div>
    </div>
    <div fxLayout="row wrap" fxLayout.xs="column" class="row">
        <div fxLayout="column" fxFlex fxLayoutAlign="flex-end">
            <div class="carre5"></div>
            <div class="carre3"></div>
            <div class="carre4"></div>
        </div>
        
        <div fxLayout="column" fxFlex >
            <div class="carre1"></div>
            <div class="carre2"></div>
        </div>
    </div>
</div>