<form [formGroup]="form" (ngSubmit)="submit(model)">
    <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form"></formly-form>
    <button type="submit" mat-raised-button color="primary" [disabled]='form.invalid'>
        <i class="material-icons">done_outline</i>
    </button>
</form>
<p>{{ message }}</p>