<div *ngIf="!auth">
    <p>Veuillez vous connecter pour accéder à vos posts</p>
    <button mat-raised-button color="primary" (click)="onSignIn()">Connexion</button>
</div>


<div *ngIf="auth">
    <p>Vous êtes connecté!</p>
    <button mat-raised-button color="warn" (click)="onSignOut()">Déconnexion</button>
</div>
