.post {
    width: 500px;
    border: 2px solid black;
    margin: 10px auto;
    text-align: center;
}
button {
    margin-right: 5px;
    margin-bottom: 10px;
}
.likes {
    background-color: #E2EFDB;
    border-color: green;
}
.dislikes {
    background-color: #EFDFDF;
    border-color: red;
}