<div class="post" [ngClass]="{'likes': likes > 0, 'dislikes': likes < 0 }">
    <h2>{{ titre }}</h2>
    <p>posté le {{ date | date: 'short' }}</p>
    <p>{{ contenu }}</p>
    <p>{{ likes }} <span *ngIf="likes >= 0">Likes</span> <span *ngIf="likes < 0">Dislikes</span></p>
    <button mat-raised-button color="primary" (click)="onLike(index)">
        <i class="material-icons">thumb_up_alt</i>        
    </button>
    <button mat-raised-button color="warn" (click)="onDislike(index)">
        <i class="material-icons">thumb_down_alt</i>
    </button>
</div>



